/*personal reset*/
h1{font-size: 3rem !important;}
h2{font-size: 2.5rem !important;}
h3{font-size: 2rem !important;}
h4{font-size: 1.5rem !important;}
h5{font-size: 1rem !important;}
/*h1,h2,h3,h4,h5 { font-family: 'Cookie', cursive; }*/
body 
{ 
	overflow-y: hidden;
	background: #fcf1f1; 
	color: #303030;
}

.ui.segment { border: none !important;}


/*website preloader*/
#site-loader 
{
	position: fixed;
	z-index: 99999999;
	background: #fff;
	min-height: 100%;
	min-width: 100%;
}
#site-loader h2
{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-45%,-50%);
}
#site-loader i
{
	position: absolute;
	top: 35%;
	left: 47%;
	transform: translate(-35%,-47%);
}

/*fixed menu webpage*/
#navigation 
{ 
	padding: 0;
	color: #fff;
	list-style-type: none !important;
	font-size: 2em;
	position: fixed; 
	top: 30%; 
	right: 2%;
	z-index: 99;
	transform: translateY(-50%);
}
#navigation a { color: #9d8ade	; text-decoration: none; }
#navigation a:hover { color: #f2aecc; }
#navigation li { list-style: none; margin: 1rem 0; }
#mobile-menu { display: none; }

#header,
#aboutus,
#feedbacks,
#contactus
{ 
	position: relative;
	min-height: 100vh !important; 
}

#site-loader,
#header,
#aboutus,
#feedbacks,
#contactus
{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#header
{
	background: url('../img/flowers2.jpg') no-repeat top center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#aboutus > * { opacity: 0; }

#products .column.row { padding: 0 !important; background: #000;}
#products .column.row .column { padding: 1px; cursor: pointer;}
#products .column .segment 
{ 
	display: none; 
	background: #fcf1f1; 
	padding: 3rem;
	position: absolute;
	top: 0;
	height: 100%;
	opacity: .9;
}


#feedbacks .feedback-holder { position: relative; height: 18rem !important; }
#testimonial { position: absolute; border: none !important; min-height: 100%;  }

@media only screen and (max-width: 700px){

#navigation { display: none; }
#mobile-menu 
{ 
	position: fixed;
	top: 2%;
	left: 3%;
	z-index: 5;
	display: block; 
	-webkit-filter: drop-shadow(0 .1rem .1rem #555);
	drop-shadow(2px 2px 2px #000);
}

#products .column.row  { padding: 0 !important; }
#products .column.row .column { padding: 1px 0 !important; }
#products .column .segment 
{ 
	display: none; 
	background: #fcf1f1; 
	padding: 3rem;
	position: relative;
	opacity: 1;
}

}